<div class="home-page-header">
    <div class="motto">
        leaning towards <br>
        a better future
    </div>
    <div class="home-page-header-image">
        <img src="../../../assets/animatedTony.png" height="auto" width="125px">
    </div>
</div>

<br><br>

<div class="welcome-text">
    <h2>Welcome!</h2>
    <p>Atlas, our small business has launched and we are so happy that you are a part of it! 
        Our mission with our small business is to raise awareness for head tilt bunnies and 
        bunnies with Encephalitozoon Cuniculi. We will be donating a percentage of our proceeds 
        to assist in covering the vet bills of head tilt bunnies and bunnies with E-Cuniculi. 
        In addition, we plan to donate toys to bunnies living with the same, including those living in rescues.
        Change starts here! Thank you sincerely for helping us make the world a better place for the voiceless! </p>
</div>