.side-nav-bar .side-nav-bar-content-container {
    padding: 0%;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.side-nav-buttons {
    border-bottom-style: solid;
    border-radius: 0%;
    border-width: 0.5px;
    width: 100%;
    padding: 2%;
}

// .side-nav-social-media {
//     // TODO Add social media buttons
// }