<div class="header">
    <div class="sideNav">
    <button mat-button title="navigation" (click)="toggleSideNav()"><mat-icon>menu</mat-icon>
    </button>
    </div>

    <div class="title">
       <button class="return-home" mat-flat-button disableRipple (click)="returnHome('/home')"><h2>Love Buns Co.</h2></button>
    </div>

    <div class="profileShop">
        <button class="profile" title="Profile" mat-button><mat-icon>person</mat-icon></button>
        <button class="shop" title="Cart" mat-button><mat-icon>shopping_cart</mat-icon></button>
    </div>
</div>

